/*
 * Styles for Multi encryptor app
 */


/* ===== Chips ===== */

.button-chip {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.button-chip md-icon:hover {
  color: inherit;
}


/* ===== Pipes ===== */

.right-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.pipe-card .actions {
  position: relative;
  top: -8px;
}
.pipe-card md-card md-card-actions {
  margin: 0;
}


/* ===== Results ===== */

.output {
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}
