/*
 * Styles for Multi encryptor app
 */


/* ===== Chips ===== */

.button-chip {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.button-chip md-icon:hover {
  color: inherit;
}


/* ===== Pipes ===== */

.right-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.pipe-card .actions {
  position: relative;
  top: -8px;
}
.pipe-card md-card-actions {
  margin: 0;
}

.pipe-card md-card-header {
  padding-bottom: 0;
  margin-bottom: 8px;
}

.pipe-card md-card-content {
  padding-top: 0;
  margin-top: 8px;
}

/* ===== Results ===== */

.output {
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}


/* ===== Animations ===== */

.show-hide.ng-enter {
  transition: all 0.4s ease-in;
  opacity: 0;
}
.show-hide.ng-enter.ng-enter-active {
  opacity: 1;
}
.show-hide.ng-leave {
  transition: all 0.4s ease-out;
  opacity: 1;
}
.show-hide.ng-leave.ng-leave-active {
  opacity: 0;
}

.accordion .accordion-header {
  padding: 5px;
  font-weight: bold;
  transition: all 0.05s linear;
}

.accordion .accordion-header:hover {
  background-color: rgb(121,85,72);
  color: rgba(255,255,255,0.87);
  transition: all 0.05s linear;
}

.accordion .accordion-content {
  padding: 5px;
}

