/*
 * Styles for Multi encryptor app
 */

body {
  overflow-y: hidden !important;
}


/* ===== Heading===== */

#top-toolbar {
  position: relative;
}

#logo {
  height: 36px;
  width: 36px;
  margin: 15px;
  opacity: 0.87;
}

#top-placeholder {
  height: 36px;
  width: 36px;
}

#language-button {
  position:absolute;
  right: 3px;
  top: 3px;
  bottom: auto;
  left: auto;
}


/* ===== Chips ===== */

.button-chip {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  min-width: 0;
}
.button-chip:not([disabled]):hover {
  background-color: transparent;
}
.button-chip md-icon:hover {
  color: inherit;
}


/* ===== Pipes ===== */

.right-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.pipe-card .card-action-buttons {
  position: relative;
  top: -8px;
}
.pipe-card md-card-actions {
  margin: 0;
}

.pipe-card md-card-header {
  padding-bottom: 0;
  margin-bottom: 8px;
}

.pipe-card md-card-content {
  padding-top: 0;
  margin-top: 8px;
}

/* ===== Results ===== */

.outputs-wrapper {
  overflow: hidden;
  flex-grow: 1;
}

.output {
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  white-space: pre-line;
}


/* ===== Animations ===== */

.show-hide.ng-enter {
  transition: all 0.4s ease-in;
  opacity: 0;
}
.show-hide.ng-enter.ng-enter-active {
  opacity: 1;
}
.show-hide.ng-leave {
  transition: all 0.4s ease-out;
  opacity: 1;
}
.show-hide.ng-leave.ng-leave-active {
  opacity: 0;
}


/* ===== Accordion===== */

.accordion .accordion-header {
  padding: 5px;
  font-weight: bold;
  transition: all 0.05s linear;
}

.accordion .accordion-content {
  padding: 5px;
}

