<!DOCTYPE html>
<html lang="en" ng-app="encrypter">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Interactive tool for creating simple ciphers.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Multi encrypter</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="css/vendor/angular-material.min.css">
    <link rel="stylesheet" href="css/vendor/v-accordion.min.css">
    <!-- build:css css/style.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body ng-controller="EncrypterController as vm">

    <md-toolbar layout="row" layout-align="space-between">
      <span></span>
      <h1 class="md-display-1">
        {{'multiEncryptor' | translate}}
      </h1>
      <md-fab-speed-dial md-direction="left" md-open="false" class="md-scale">
        <md-fab-trigger>
          <md-button class="md-icon-button" md-aria-label="change language">
            <md-icon class="material-icons">language</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button class="md-fab md-primary md-mini"
                     ng-click="vm.changeLanguage('cs')">
            cs
          </md-button>
          <md-button class="md-fab md-primary md-mini"
                     ng-click="vm.changeLanguage('en')">
            en
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </md-toolbar>

    <div id="content" layout="row">

      <md-sidenav id="settings" class="md-whiteframe-4dp"
                  md-component-id="settingsOnSide">
        <md-subheader>Settings</md-subheader>
      </md-sidenav>

      <div id="ciphersWrapper" flex layout="column">

        <section id="inputTextWrapper" class="flexContent"
                 layout="row" layout-align="center">
          <div flex="70">
            <form name="inputForm">
              <md-input-container layout-fill>
                <h3>Input Text</h3>
                <textarea name="inputTextArea" id="inputTextArea"
                          rows="2" aria-label="Input text"
                          ng-model="vm.input" required max-rows="7"
                          md-maxlength="200" maxlength="201">
                </textarea>
                <div ng-messages="inputForm.inputTextArea.$error" >
                  <div ng-message="required">Type some text.</div>
                  <div ng-message="md-maxlength">That is too long!</div>
                </div>
              </md-input-container>
            </form>
          </div>
        </section>

        <section id="availableCiphers" class="flexContent"
                 layout="row" layout-align="center">
          <div flex="70">
            <h3>Available ciphers</h3>
            <md-chips ng-model="vm.ciphers" readonly="true">
								<md-chip-template>
									<strong>{{$chip.cipherName}}</strong>
								</md-chip-template>
            </md-chips>
          </div>
        </section>

        <section id="chosen-ciphers" class="flexContent"
                 layout="row" layout-align="center">
          <div flex="70">
            <h3>Chosen ciphers</h3>
            <md-content class="pipe-card show-hide" ng-repeat="pipe in vm.pipes">
              <md-card>
                <md-card-header layout="row">
                  <md-card-header-text>
                    <span class="md-title">{{pipe.getName()}}</span>
                  </md-card-header-text>
                  <md-card-actions layout-align="start">
                    <md-card-icon-actions layout-align="end" class="actions">
                      <md-button class="md-icon-button md-primary"
                                ng-click="vm.removePipe(pipe)"
                                aria-label="Remove pipe" title="Remove pipe">
                        <md-icon class="material-icons">remove_circle</md-icon>
                      </md-button>
                    </md-card-icon-actions>
                  </md-card-actions>
                </md-card-header>
                <md-card-content>
                  <md-chips layout-fill
                    ng-model="pipe.chosenCiphers"
                            md-autocomplete-snap
                            md-require-match="true"
                            md-max-chips="5"
                            md-removable="false">
                    <md-autocomplete
                            md-selected-item="pipe.selectedCipher"
                            md-search-text="pipe.searchText"
                            md-items="cipher in vm.querySearch(pipe.searchText)"
                            md-item-text="cipher.cipherName"
                            md-autoselect="true"
                            placeholder="write cipher name" >
                      <span md-highlight-text="pipe.searchText">{{cipher.cipherName}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                      <strong>{{$chip.cipherName}}</strong>
                      <button class="button-chip" ng-click="vm.openSettingsOnSide()"
                              md-colors="::{color: 'default-accent-700'}">
                        <md-icon class="material-icons">settings</md-icon>
                      </button>
                      <button class="button-chip" md-chip-remove
                              md-colors="::{color: 'default-warn'}">
                        <md-icon class="material-icons">close</md-icon>
                      </button>
                    </md-chip-template>
                  </md-chips>
                </md-card-content>
              </md-card>
            </md-content>
            <div class="right-button-wrapper">
              <md-button class="md-fab md-primary md-mini" ng-click="vm.addPipe()"
                          aria-label="Add pipe" title="Add pipe">
                <md-icon class="material-icons">add</md-icon>
              </md-button>
            </div>
          </div>
        </section>

        <section id="outputs" class="flexContent" layout="row" layout-align="center">
          <div flex="70" style="overflow: hidden;">
            <h3>Outputs</h3>
            <md-content class="pipe-card show-hide" ng-repeat="pipe in vm.pipes">
              <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <span class="md-title">{{pipe.getName()}}</span>
                  </md-card-title-text>
                </md-card-header>
                <md-card-content>
                  <pre class="output">{{vm.getOutput(pipe)}}</pre>
                </md-card-content>
              </md-card>
            </md-content>
          </div>
        </section>

    </div>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-messages.min.js"></script>
    <script src="js/vendor/angular-animate.min.js"></script>
    <script src="js/vendor/angular-aria.min.js"></script>
    <script src="js/vendor/angular-material.min.js"></script>
    <script src="js/vendor/angular-translate.min.js"></script>
    <script src="js/vendor/v-accordion.min.js"></script>
    <script src="js/vendor/string.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
